body {
    font-family: 'Source Sans Variable', sans-serif;
    color: #909BAA;
    background-color: #E7EBEF; 
}

/* Side Menu Styles */
.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    background-color: #1D385C;
    overflow-y: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    gap:10px;
}

.image-container {
    padding: 0px;
    margin: 0;
}

.side-menu h1 {
    margin-top: 0; 
}

.menu-item {
    display: flex;
    align-items: center;
    margin-top: 20px;    
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    color: #E7EBEF;
}

.menu-item img {
    margin-right:10px;  
    width: 40px;         
    height: 40px;        
}

.menu-item:hover {
    color: #939598;      
}


/* List of Messages Styles */
.message-list {
    width: 70%;
    overflow-y: auto;
    height: 100vh;
    position: absolute;
    left: 20%;
    top: 0;
    background-color: #E7EBEF;
    padding: 20px; 
    scrollbar-width: none;
}

.inbox-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.message-list h2, .message-list h3 {
    margin-bottom: 10px; 
}

.inbox-header {
    display: flex;       
    justify-content: space-between;
    align-items: center;  
}

.new-message-btn {
    background-color: #1D385C; 
    color: #E7EBEF;    
    border: none;        
    padding: 15px 20px;  
    margin-bottom: 10px;
    border-radius: 10px; 
    cursor: pointer;    
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    color: white;
    box-sizing: border-box; 
}

.new-message-btn:hover {
    background-color: #12243B; 
}

.inbox-container ul {
    margin-left: 0;  
    padding-left: 0;  
    list-style-type: none; 
    display: flex;
    flex-direction: column;
}

.message-list li {
    display: flex;
    align-items: center; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #909BAA; 
    border-radius: 8px; 
}

.dock-number-box {
    width: 50px;
    height: 50px;
    background-color: #909BAA;
    color: #E7EBEF; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; 
    margin-right: 20px;
    border: None;
    border-radius: 10px; 

}

.message-content {
    flex-shrink: 0;       
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Variable', sans-serif;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}


.small-dock-number {
    font-size: 0.8em; 
    margin-bottom: 5px; 
}

.message-date {
    font-family: 'Source Sans Variable', sans-serif;
    margin-left: auto; 
    color: #939598; 
    font-size: 0.9em; 
}

.bold-message {
    font-weight: bold;
    color: black;
}

/* Typography */
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.75em;
    color: white; 
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: #1D385C;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    color: #1D385C; 
}

h4 {
    font-family: 'Source Sans Variable', sans-serif;
    font-size: 1.2em;
    color: #939598; 
}

h5 {
    font-family: 'Source Sans Variable', sans-serif;
    font-size: 1em;
    color: #939598;
}

p {
    font-size: 0.9em;
}

.new-message {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100vh; /* viewport height */
}

.new-message > * {
    width: 100%;
}

.message-input {
    display: flex;
    align-items: center;
    padding: 15px 20px; /* Adjusted to match the button's vertical padding */
    margin: 10px 0;
    border: 1px solid #909BAA;
    border-radius: 10px; /* Adjusted to match the button's border-radius */
    resize: vertical;
    box-sizing: border-box;
}

/* Specific targeting for the textarea */
.message-input#message {
    flex-grow: 1; /* Allow it to consume the available space */
}